[project]
	description = Micro-benchmarking scripts for xOLTP project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/piyushdungarwal
[access "refs/for/refs/*"]
	read = group user/piyushdungarwal
	push = group user/piyushdungarwal
	label-Code-Review = -2..+2 group user/piyushdungarwal
	label-Verified = -1..+1 group user/piyushdungarwal
	rebase = group user/piyushdungarwal
	removeReviewer = group user/piyushdungarwal
	submit = group user/piyushdungarwal
[access "refs/heads/*"]
	read = group user/piyushdungarwal
	create = group user/piyushdungarwal
	push = +force group user/piyushdungarwal
	pushMerge = group user/piyushdungarwal
[access "refs/tags/*"]
	push = +force group user/piyushdungarwal
	pushTag = group user/piyushdungarwal
	pushSignedTag = group user/piyushdungarwal
